[Unit]
Description=Run backup for Factorio and Valheim game servers

[Service]
Type=oneshot
WorkingDirectory=%h/Documents/game-server
ExecStart=%h/.local/bin/mise run backup:all
