[Unit]
Description=valheim via mise
After=network.target

[Service]
Type=simple
WorkingDirectory=@ROOT@
ExecStart="@MISE@" run start:valheim
KillSignal=SIGINT
TimeoutStopSec=120
Restart=on-failure
RestartSec=10

[Install]
WantedBy=default.target
